*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
footer{
    height: 70px;
}

img{
    width: auto;
}

#txt{
    position: absolute;
    left: 30%;
    transform: translate(200px, 20px);
    color: #ff0808;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

#timer{
    min-height: 70px;
}

.imagen{
    width: 40px;
    border-radius: 50%;
    background-color: blue;
}

.canvas{
    margin: auto;
}

.show{
    display: block;
}
.hiden{
    display: none;
}

.div_contenedor{
    width: auto;
    height: 950px;
}

.div_herramientas_piece{
    height: 7%;
    text-align: center;
    display: flex;
}

.div_input{
    width: auto;
    margin-top: 1%;
}

.div_circulo{
    text-align: center;
}

.div_pColor{
    text-align: center;
}
.pColor{
    height: 40px;
    padding-top: 10px;
    background-color: rgb(255, 87, 87);
}

.div_dimension{
    text-align: center;
    margin-top: 1%;
}

.div_herramientas_de_apariencia{
    width: auto;
}

.form_Color_Player1{
    width: 50%;
   /*background-color: blue;*/
}

.form_Color_Player2{
    width: 50%;
    /*background-color: chartreuse;*/
}

.form_dimension{
    width: 12%;
    margin: auto;
}

.div_circulo {
    width: 40px;
    height: 40px;
    margin-top: 5%;
    margin-right: 5%;
    color: white;
    border: 2px solid blue;
    border-radius: 50%;
    background: red;
    text-align: center;
}

.div_input_dimension{
    display: flex;
}


.div_start_player{
    width: 60%;
    margin: 2% auto;
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
    background-color: yellow;
}

.lavel_dimension{
    display: block;
    padding-top: 8px;
    width: 40px;
    height: 33px;
    border-radius: 50%;
}

.p{
    width: 20%;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    color: white;
    background-color: blue;
}

.p_width{
    width: 80%;
}

.p_cant_piezas_en_lines{
    color: white;
    background-color: blue;
    margin: auto;
    border-radius: 30px;
    width: 30%;
}

.div_div_image_piece{
    display: flex;
}

.div_image_piece{
    width: 50%;
    margin: auto;
}

.div_herramientas_player{
    width: 50%;
}

.div_herramientas{
    display: flex;
    margin: 2% auto 0% auto;
    width: 80%;
}

.btnImage{
    border-radius: 50%;
    border: none;
    margin-top: 1%;
    background-color: transparent
}

.div_winner{
    text-align: center;
}

.btn_jugar_de_nuevo{
    background-color: rgb(118, 118, 255);
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    margin-top: 5%;
}

.h1_winner_player{
    margin-top: 5%;
}

.div_timer{
    display: block;
}

.div_p_players{
    display: flex;
}

.p_player1{
    float: left;
    margin-left: 4%;
}
.p_player2{
    float: right;
    margin-right: 3%;
}

.btn_reiniciar{
    color: white;
    margin: 2% auto;
    background-color: rgb(0, 0, 255);
    border: none;
    border-radius: 30px;
    width: 100px;
    height: 40px;
}