*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
footer{
    height: 70px;
}

img{
    width: 1356px;
}

.imagen{
    width: 40px;
    
    border-radius: 50%;
    background-color: blue;
}

.show{
    display: block;
}
.hiden{
    display: none;
}

.div_contenedor{
    height: 900px;
}

.div_herramientas_piece{
    height: 7%;
    text-align: center;
    display: flex;
}

.div_input{
    width: auto;
    margin-top: 1%;
}

.div_circulo{
    text-align: center;
}

.pColor{
    background-color: blue;
}

.div_input_dimension{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.div_dimension{
    text-align: center;
}

.form_Color_Player1{
    width: 50%;
   /*background-color: blue;*/
}

.form_Color_Player2{
    width: 50%;
    /*background-color: chartreuse;*/
}

.div_circulo {
    width: 30px;
    height: 30px;
    padding: 3px 0 0 0;
    margin: 0% 1%;
    color: white;
    border: 2px solid blue;
    border-radius: 50%;
    background: red;
    text-align: center;
}


.div_start_player{
    width: 60%;
    margin: 2% auto;
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
    background-color: yellow;
}

.p{
    width: 20%;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    color: white;
    background-color: blue;
}

.p_width{
    width: 80%;
}

.div_div_image_piece{
    display: flex;
}

.div_image_piece{
    margin: auto;
}

.div_herramientas_player{
    width: 50%;
    margin: auto;
}

.div_herramientas{
    display: flex;
    margin-top: 2%;
}

.btnImage{
    border-radius: 50%;
    border: none;
    background-color: transparent
}