*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}
.showWinner{
    display: block;
}
.hidenwinner{
    display: none;
}

.hidenCanvas{
    display: none;
}

.showCanvas{
    display: block;
}

.hidenPColor{
    display: none;
}

.showPColor{
    display: block;
}
